<h2>Update Form</h2>
<div *ngFor="let data of Arr"> 
<form [formGroup]="updateForm" (ngSubmit)='OnUpdate(data.id, data.SN)'>
  <div class="imgcontainer">




  </div>
  <!-- //Enter name -->
  
  <div class="container">
    <label for="uname"><b>Enter Topic</b></label>
    <input class="textbox" #ref type="text" formControlName="topic" placeholder="Enter Topic*" />


    <!-- //enter serail no -->
    <label for="uname"><b>Enter Total no of Question</b></label>
    <input class="textbox" #ref type="text" formControlName="questions" placeholder="Enter total no of questions" />


    <!-- //enter gender -->
    <label for="uname"><b>Enter marks</b></label>
    <input class="textbox" type="text" formControlName="marks" placeholder="Enter marks*" />

    <br>
    <br>


    <!-- //enter college name -->
    <label for="uname"><b>Enter Time Limit</b></label>
    <input type="text" placeholder="Enter time limit" formControlName="time" required>

</div>
    <!-- //sign up from here -->

    <button type="submit">Update</button>
    </form>

  </div>
